.message {
  width: max-content;
  padding: 15px 10px;
  margin: 15px 0;
  background: $input-bg-secondary;
  border-radius: 6px;

  &--mine {
    align-self: flex-end;
    background: #cdc1f1;
  }
}
