<div class="form-wrapper">
{{{form}}}
  <div style="display: none">
    <a href="/profile" class="href">profile</a>
    <a href="/404" class="href">404</a>
    <a href="/500" class="href">500</a>
    <a href="/chats" class="href">chats</a>
    <a href="/registration" class="href">registration</a>
  </div>
</div>
