.chat-list-wrapper {
  @include flex-column;

  background: $chat-list-bg;
  width: 25%;
  min-width: 310px;
  height: 100%;
  overflow: auto;
  border-right: $chat-item-border;
}

.chat-list-header {
  @include flex-column;

  padding: 20px 10px 0;
}

.chat-list-actions {
  text-align: right;
  margin-bottom: 20px;
}

.chat-profile-link {
  color: $text-secondary;
}

.chat-list-search {
  padding-bottom: 15px;
  border-bottom: $chat-item-border;

  .search-input {
    display: block;
    width: 100%;
    border-radius: 5px;
    color: $text-secondary;
    background: $input-bg-secondary;
    padding: 10px 15px;

    &::placeholder {
      text-align: center;
    }
  }
}

.chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-content-wrapper {
  @include flex-column;

  width: 75%;
  height: 100%;
  padding: 10px 20px;
}

.chat-header {
  padding: 0 0 10px;
  border-bottom: $chat-item-border;
  display: flex;
  align-items: center;
}

.chat-avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  margin: 0 10px 0 0;
  text-align: center;
  background-color: #efefef;
}

.chat-user {
  flex: 1;
  font-weight: 600;
}

.chat-menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.chat-menu-button {
  background: #f5f5f5;
  color: $primary;
  transform: rotate(90deg);
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.chat-menu {
  width: max-content;
  position: absolute;
  top: 100%;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 $text-secondary;
}

.chat-content {
  flex: 1;
  padding: 30px 0;
  border-bottom: $chat-item-border;
}

.message-panel {
  padding: 10px 0 0;
  display: flex;
  align-items: center;
}

.message-attachment {
  font-size: 20px;
}

.message-input {
  flex: 1;
  display: block;
  background: $input-bg-secondary;
  border-radius: 10em;
  padding: 10px 20px;
  color: $text-secondary;
  margin-right: 10px;
}

.arrow-btn {
  @include flex-row-all-center;

  background: $primary;
  color: $white;
  border-radius: 50%;
  width: 28px;
  height: 28px;

  &__left {
    transform: rotate(180deg);
  }
}


.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 6;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
}

.modal-content {
  margin: auto;
  //width: 500px;
  display: flex;
  background: #fff;
  border-radius: 12px;
}

.padding {
  padding-top: 40%;
  padding-bottom: 70%;
}

