<div class="error-content">
    <div class="error-code">
        {{code}}
    </div>
    <div class="error-reason">
        {{text}}
    </div>
    <a href="/chats" class="home">Назад к чатам</a>
</div>
