<div class="app-wrapper full-width">
  <nav class="profile-nav">
    <a href="/chat" class="btn arrow-btn arrow-btn__left">
      &#11157;
    </a>
  </nav>
  <div class="profile-wrapper">
    <div class="profile">
      <img src="https://picsum.photos/130/130" alt="user_name" class="profile-avatar">

      {{{ProfileForm isActiveForm=isActiveForm}}}

      {{#if isActiveForm}}
      {{else}}
        <div class="profile-actions">
          <div class="profile-form-control">
            <a href="" id="js-toggle-form">Изменить данные</a>
          </div>
          <div class="profile-form-control">
            <a href="#">Изменить пароль</a>
          </div>
          <div class="profile-form-control">
            {{{logout}}}
          </div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
