.profile {
  @include flex-column;

  min-width: 520px;
}

.profile-nav {
  @include flex-row-all-center;

  height: 100%;
  background: $chat-list-bg;
  width: 65px;
  border-right: $chat-item-border;
}

.profile-wrapper {
  @include flex-column;

  flex: 1;
  align-items: center;
  padding: 50px 0 0;
  align-self: flex-start;
}

.profile-avatar-label {
  @include flex-row-all-center;

  width: 130px;
  height: 130px;
  cursor: pointer;
  border-radius: 50%;

  &:hover {
    background-color: $input-bg-secondary;
    opacity: 0.5;
  }
}

.profile-avatar {
  display: block;
  width: 130px;
  height: 130px;
  margin: 0 0 20px;
  border-radius: 50%;
  align-self: center;
  background-color: $text-secondary;
}

.profile-name {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 60px;
}

.profile-form {
  margin-bottom: 30px;
}

.profile-form-control {
  padding: 10px 0;
  border-bottom: $chat-item-border;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &:last-child {
    border-bottom: none;
  }

  .input-error {
    width: 100%;
    text-align: right;
  }
}

.profile-form-input {
  display: block;
  color: $text-secondary;
  background: transparent;
  text-align: right;
}

.profile-form-label {
  display: block;
  font-weight: 600;
}
