<div class="app-wrapper full-width">
  <nav class="profile-nav">
    {{{PrevLink}}}
  </nav>
  <div class="profile-wrapper">

    <div class="profile">
    {{{AvatarForm}}}

      {{{ProfileForm }}}
  </div>
  </div>
</div>
