{{#extend "layout/main" }}
    {{#content "page-content"}}
        {{#extend "components/base-form/form" action="" submitLink="../index/index.hbs" submitText="Зарегистрироваться" formTitle="Регистрация"}}
            {{#content "content"}}
                {{>components/text-input/text-input placeholder="Почта" name="email" type="text"}}
                {{>components/text-input/text-input placeholder="Логин" name="login" type="text"}}
                {{>components/text-input/text-input placeholder="Имя" name="first_name" type="text"}}
                {{>components/text-input/text-input placeholder="Фамилия" name="second_name" type="text"}}
                {{>components/text-input/text-input placeholder="Телефон" name="phone" type="text"}}
                {{>components/text-input/text-input placeholder="Пароль" name="password" type="password"}}
                {{>components/text-input/text-input placeholder="Пароль (еще раз)" name="password_confirmation" type="password"}}
            {{/content}}
            {{#content "footer-content"}}
                <p class="ta-center">
                    <a href="../auth/auth.hbs" class="link-primary">Войти</a>
                </p>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}