.chat-list-wrapper {
  display: flex;
  flex-direction: column;
  background: $chat-list-bg;
  width: 25%;
  min-width: 310px;
  height: 100%;
  overflow: auto;
  border-right: $chat-item-border;
}

.chat-list-header {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 0;
}

.chat-list-actions {
  text-align: right;
  margin-bottom: 20px;
}

.chat-profile-link {
  color: $text-secondary;
}

.chat-list-search {
  padding-bottom: 15px;
  border-bottom: $chat-item-border;

  .search-input {
    display: block;
    width: 100%;
    border-radius: 5px;
    color: $text-secondary;
    background: $input-bg-secondary;
    padding: 10px 15px;

    &::placeholder {
      text-align: center;
    }
  }
}

.chat-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-content-wrapper {
  width: 75%;
  height: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 0 0 10px 0;
  border-bottom: $chat-item-border;
  display: flex;
  align-items: center;
}

.chat-avatar {
  img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 10px 0 0;
  }
}

.chat-user {
  flex: 1;
  font-weight: 600;
}

.chat-menu {
  background: #f5f5f5;
  color: $primary;
  transform: rotate(90deg);
  width: 25px;
  height: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
}

.chat-content {
  flex: 1;
  padding: 30px 0;
  border-bottom: $chat-item-border;
}

.message-panel {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
}

.message-attachment {
  font-size: 20px;
}

.message-input {
  flex: 1;
  display: block;
  background: $input-bg-secondary;
  border-radius: 10em;
  padding: 10px 20px;
  color: $text-secondary;
  margin-right: 10px;
}

.arrow-btn {
  background: $primary;
  color: $white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__left {
    transform: rotate(180deg);
  }
}