.new-chat-wrapper {
  position: relative;
}
.modal {
  position: absolute;
  min-width: 240px;
  right: 0;
  top: 20px;
  padding: 10px 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 8px 0 $text-secondary;
}
