<div class="new-chat-wrapper">
  <span class="chat-profile-link" id="new-chat-add">Добавить чат &#8250;</span>
  <div class="new-chat-form-wrapper hide" id="new-chat-modal">
    {{{form}}}
  </div>
</div>
