.form-wrapper {
  @include flex-column;

  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  padding: 50px 30px 30px;
  min-height: 460px;
  width: 340px;
}

.form {
  @include flex-column;

  flex: 1;
}

.form-content {
  margin-bottom: 45px;
  flex: 1 0 auto;
}
