<form class="form">
  <div class="form-header">
    <h1 class="h1 ta-center">{{formTitle}}</h1>
  </div>
  <div class="form-content">
    {{#each inputs as |input|}}
      {{{TextInput placeholder=input.placeholder name=input.name type=input.type validation=input.validation
                   events=input.events}}}
    {{/each}}
  </div>
  <div class="form-footer">
    <button type="submit" class="btn-primary">{{submitText}}</button>
    <div class="ta-center">
        {{{link}}}
    </div>
  </div>
</form>
