<div class="form-wrapper">
    <form action="{{action}}" class="form">
        <div class="form-header">
            <h1 class="h1 ta-center">{{formTitle}}</h1>
        </div>
        <div class="form-content">
            {{#block "content"}}
            {{/block}}
        </div>
        <div class="form-footer">
            <a href="{{submitLink}}" class="btn-primary">{{submitText}}</a>
            {{#block "footer-content"}}
            {{/block}}
        </div>
    </form>
</div>