.profile-form{
    margin-bottom: 30px;
}
.profile-form-control{
    padding: 10px 0;
    border-bottom: $chat-item-border;
    display: flex;
    justify-content: space-between;
    &:last-child {
        border-bottom: none;
    }
}
.profile-form-input{
    display: block;
    color: $text-secondary;
    background: transparent;
    text-align: right;
}
.profile-form-label{
    display: block;
    font-weight: 600;
}