$primary: #3369f3;
$error: #ff2f2f;
$text-primary: #1e1e1e;
$text-secondary: #999;
$input-bg-secondary: #efefef;
$white: #fff;
$font-family: "Inter", sans-serif;
$font-size: 13px;
$small-fsz: 12px;
$h1-fsz: 20px;
$chat-item-border: 1px solid #eaeaea;
$chat-list-bg: #fbfbfb;
$chat-item-hover-bg: darken($chat-list-bg, 1);
$chat-item-active-bg: #e4edfd;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
